h1 {
    border-bottom: 10px dotted purple;
    color: hotpink;
}

h2 {
    font-style: italic;
}

footer{
    background-color: #eeeeee;
    border: 5px solid purple;
    padding: 5%;
}
a:hover {
    color: chartreuse;
}